# Compiled site
/_site/
_site/

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/

## MacOS
node_modules
package.json
.DS_Store

## Jekyll stuff
.jekyll-metadata
.jekyll

## Posts
posts/

**/*.swp
