<div id="header">

    <div class="top">
        {%- include top.html -%}
    </div>

    <div class="mid">
        {%- include nav.html -%}
    </div>
    
</div>

{%- include script.html -%}
<section class="main">

    {% if page.category == 'Home' %}
        {{ content }}
    {% elsif page.category == 'Log' %}
        <div class="page-header">
            <h3>{{ page.title }}</h3>
            <blockquote>
                <p>Subscribe with <a href="{{ site.baseurl }}/feed.xml" target="_blank">RSS</a> to keep up with the latest changes.</p>
            </blockquote>
        </div>
        {{ content }}
    {% else %}
        <div class="page-header">
            <h3>{{ page.title }}</h3>
            <h2>{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}
            <a href="https://github.com/WheatBeer/WheatBeer.github.io/edit/master/{{ page.path }}" target="_blank">
                <img src="{{ site.baseurl }}/images/edit.png">
            </a>
            </h2>
            <hr>
        </div>
        <article class="content">
            {{ content }}
            <hr>
            {% comment %} {% include disqus.html %} {% endcomment %}
        </article>
    {% endif %}
    
</section>

