<div id="header">

    <div class="top">
        {%- include top.html -%}
    </div>

    <div class="mid">
        {%- include nav.html -%}
    </div>
    
</div>


<section class="main">
    {% if page.category != Home %}
    <div class="page-header">
        <h3>{{ page.title }}</h3>
        <h2>{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}</h2>
        <hr>
    </div>

    <article class="content">
        {{ content }}
    </article>

    {% else %}
        {{ content }}
    {% endif %}
    
    
</section>

{%- include script.html -%}