<nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>
    <ul>
        <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
            {% assign home = site.html_pages | where: 'url', '/' | first %}
            <a class="menu" href="{{ site.baseurl }}/">{{ home.title }}</a>
        </li>
    </ul>

    <!-- <ul>
        <li class="nav-item top-level {% if page.url == '/log/' %}current{% endif %}">
            {% assign log = site.html_pages | where: 'url', '/log/' | first %}
            <a class="menu" href="{{ site.baseurl }}/log/">{{ log.title }}</a>
        </li>
    </ul> -->

    <ul>
        <a class="category">Programming</a>
        {% assign grouped = site.programming | group_by: 'category' %}
        {% for group in grouped %}
        {% assign count = count | plus: 1 %}
            <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                <div id="list-wrapper">
                    {% assign items = group.items | sort: 'order' %}
                    <a class="list-top{% if page.url == group.url %}active{% endif %}" href="{{ site.baseurl }}{{ items.first.url }}">
                        <label for="opener-{{ count }}">▾</label>
                        {{ group.name }}
                    </a>
                    <input type="checkbox" class="checkbox" id="opener-{{ count }}" name="box"/>
                    <ul>
                    {% for item in items %}
                        <li class="nav-item {% if item.url == page.url %}current{% endif %}">
                            <a class="list" href="{{ site.baseurl }}{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <a class="category">Projects</a>
        {% assign grouped = site.projects | group_by: 'category' %}
        {% for group in grouped %}
        {% assign count = count | plus: 1 %}
            <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                <div id="list-wrapper">
                    {% assign items = group.items | sort: 'order' %}
                    <a class="list-top{% if page.url == group.url %}active{% endif %}" href="{{ site.baseurl }}{{ items.first.url }}">
                        <label for="opener-{{ count }}">▾</label>
                        {{ group.name }}
                    </a>
                    <input type="checkbox" class="checkbox" id="opener-{{ count }}" name="box"/>
                    <ul>
                    {% for item in items %}
                        <li class="nav-item {% if item.url == page.url %}current{% endif %}">
                            <a class="list" href="{{ site.baseurl }}{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <ul>
        <a class="category">Research</a>
        {% assign grouped = site.research | group_by: 'category' %}
        {% assign count = 0%}
        {% for group in grouped %}
        {% assign count = count | plus: 1 %}
            <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
                <div id="list-wrapper">
                    {% assign items = group.items | sort: 'order' %}
                    <a class="list-top{% if page.url == group.url %}active{% endif %}" href="{{ site.baseurl }}{{ items.first.url }}">
                        <label for="opener-{{ count }}">▾</label>
                        {{ group.name }}
                    </a>
                    <input type="checkbox" class="checkbox" id="opener-{{ count }}" name="box"/>
                    <ul>
                    {% for item in items %}
                        <li class="nav-item {% if item.url == page.url %}current{% endif %}">
                            <a class="list" href="{{ site.baseurl }}{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

</nav>
