<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    document.getElementById("open-nav").addEventListener("click", function () {
        document.body.classList.toggle("nav-open");
    });

    $('input:checkbox[name="box"]').click(function(){
        $(".checkbox").each(function(index, element) { 
            if(element.checked){
                localStorage.setItem(element.id, true);
            }
            else {
                localStorage.setItem(element.id, false);
            }
        });
    });
        
    $(document).ready(function() {
        $(".checkbox").each(function(index, element) {
            var checked = JSON.parse(localStorage.getItem(element.id));
            document.getElementById(element.id).checked = checked;
        });
    });
</script>
<script id="dsq-count-scr" src="//wheatbeer.disqus.com/count.js" async></script>
<!-- https://github.com/highlightjs/highlight.js/tree/master/src/styles -->
<!--link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/gruvbox-dark.min.css"-->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>  
    // get markdown content  
    function getText(myUrl){
        $.ajax({ url: myUrl, type: 'get', dataType: 'html', async: false,
            success: function(data) { document.getElementById('github').innerHTML = marked(data); } 
        });
    }
</script>
