<h1>
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" width="40" height="40" alt="{{ site.title }} logo"></a>
    <div><a id="title" href="{{ site.baseurl }}/">{{ site.title }}</a></br><center><a id="title"><font size="2em">(Sungmin, Ryu)</font></a></center></div>
    <button type="button" class="open-nav" id="open-nav"></button>
</h1>

<form action="{{ site.baseurl }}/search/" method="get">
    <input type="text" name="q" id="search-input" placeholder="Search" autofocus>
    <input type="submit" value="Search" style="display: none;">
</form>