pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.75em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	background-color: #242424;
	color: #FAFAFA;
	border-radius: 2px;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.0em 0;
	width: 100%;
	padding: 10px;
	font-size: 1.4vmax;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: inherit;
		white-space: pre;
		background: transparent;
		border: none;
		padding: 0
	}
}

@media (min-width: $mobile-break) {
    pre {
        font-size: 0.75em;
        code, tt {
            font-size: inherit;
        }
    }
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
}
