input::-ms-clear,
input::-ms-reveal {
	display: none !important;
}

body {
	height: 100%;
	overflow-x: hidden;
	background-color: $body-background-color;
	&.nav-open {
		overflow: hidden;

		nav{
			display: block;
		}

		#header {
			bottom: 0;
		}
	}

	&::before {
		content: "";
		background-color: $content-background-color;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	@media (min-width: $mobile-break) {
		padding: 0 0 0 $nav-width;

		&.nav-open {
			overflow: auto;
		}

		&::after,
		&::before {
			content: "";
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: -1;
		}

		&::after {
			left: 0;
			width: $nav-width;
			background-color: $nav-background-color;
		}

		#search-input,
		&::after {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}

		&::before {
			left: $nav-width;
			right: 0;
			background-color: $content-background-color;
		}
	}
}

.main {
	margin-top: $space + $nav-header-height;
	@media (min-width: $mobile-break) {
		margin-top: 0;
	}
}

#header {
	$emblem-size: 35px;
	$emblem-vertical-padding: ($nav-header-height - $emblem-size) / 2;
	$emblem-horizontal-padding: $space;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	z-index: 1;
	background-color: $nav-background-color;
	@media (min-width: $mobile-break) {
		height: 100%;
	}

	.top {
		position: fixed;
		width: 100%;
		z-index: 3;
		@media (min-width: $mobile-break) {
			width: $nav-width;
		}
		
		h1 {
			padding: $emblem-vertical-padding $emblem-horizontal-padding;
			height: $nav-header-height*1.33;
			box-sizing: border-box;
			background-color: $brand-colour;
			color: #fff;
			margin: 0;
			font-size: 2rem;
			line-height: 0.8;
			letter-spacing: 0;
			font-weight: 600;
			text-indent: 0;
			@include display-flex();
			@include flex-direction(row);
			@include align-items(center);
			border-bottom: 1px solid rgba(0, 0, 0, 0.075);
			z-index: 4;
			@media (min-width: $mobile-break) {
				height: $nav-header-height*2;
			}
	
			img {
				height: $emblem-size*1.2;
				width: $emblem-size*1.2;
				margin-right: 20px;
				@media (min-width: $mobile-break) {
					height: $emblem-size*2;
					width: $emblem-size*2;
					margin-left: 10px;
					margin-right: 30px;
				}
				
			}

			#title{
				color: #fff;
				text-decoration: none;
			}

		}
		
		form{
			display: none;
			@media (min-width: $mobile-break) {
				display: block;
			}
		}
		
	}

	.mid {
		padding-top: 77px;
		display: block;
		@media (min-width: $mobile-break) {
			padding-top: 0;
			display: block;
			top: $nav-header-height*2 + 48px;
			position: relative;
			overflow: auto;
			width: $nav-width;
			height: 70%;
		}
		
		ul {
			padding: 0;
			margin: 0;
		}
	}


$nav-image: $baseurl + "/images/menu.svg";
	.open-nav {
		background-image: url($nav-image);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		width: $emblem-size;
		height: $emblem-size;
		border: 0;
		position: absolute;
		top: $emblem-vertical-padding + 8px;
		right: $emblem-horizontal-padding;
		border-radius: 2px;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		width: $nav-width;
		right: auto;
		bottom: auto;

		.open-nav {
			display: none;
		}

		h1 {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}
	}

}

.button {
	position: relative;
	display: inline-block;
	border-radius: 0.35em;
	color: #fff !important;
	text-decoration: none;
	padding: 0.7em 2.0em 0.7em 2.0em;
	background-color: black;
	font-size: 2.5vmax;
	border: 0;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	&:hover {
		background-color: rgb(104, 104, 104);
		font-weight: bold;
	}
}

.cover {
	padding: 32vh 0 32vh 0;
	position: relative;
	z-index: 0;
	img.back {
		// opacity:0.7;
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: -1;
	}
	.cover_title{
		color: white;
		text-align: center;
		h2{
			font-size: 5.5vmax;
			color: white;
			margin: 0 0 0 0;
		}
		h3{
			font-size: 3vmax;
			color: white;
			margin: 1em 0 1em 0;
		}
		p{
			font-size: 1.7rem;
			font-family: "Open Sans", sans-serif;
		}
	}
}

.container {
	padding: 5em 0 0 0;
	position: relative;
	text-align: center;
	h2 {
		font-size: 4rem;
		color: rgb(101, 101, 101); 
	}
	p {	
		margin : 0 auto 2em auto;
		text-align: justify;
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		width: 80%;
	}
}

.content {
	position: relative;
	background-color: $content-background-color;
	color: $content-color;
	margin: 0 auto 0 auto;

	h2 {
		padding-bottom: 10px;
	}
	.date {
		color: #888;
		font-style: italic;
	}
}

.content,
.page-header {
	max-width: $content-max-width;
	padding: $space ($space + 5) $space;
}

.cv {
	padding: 0.5em 0 0 0;
	position: relative;
	text-align: left;

	hr {
		margin : 0 auto 1em auto;
		background: rgb(101, 101, 101);
		height: 1px;
		width: 80%;
	}

	h1 {
		margin : 1em auto 0.5em auto;
		text-align: justify;
		font-size: 2.5rem;
		color: rgb(101, 101, 101);
		width: 80%;
	}

	h2 {
		margin : 0 auto 0 auto;
		text-align: justify;
		font-size: 1.5rem;
		color: rgb(101, 101, 101);
		width: 80%;
		strong {
			color: black;
		}
	}
	p {	
		margin : 0 auto 2em auto;
		text-align: justify;
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		width: 80%;
	}
}

.page-header {
	margin: $space auto 0 auto;
	h2,
	h3 {
		margin: 0;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 2rem;
		margin-left: -1px;
		color: #888;
		letter-spacing: 0;
	}

	h3 {
		font-size: 4rem;
		margin-left: -4px;
	}

	hr {
		margin: $space*2 0 0 0;
	}

	@media (min-width: $mobile-break) {
		h2 {
			font-size: 2.65rem;
		}

		h3 {
			font-size: 5.4rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}

nav,
header > form {
	display: none;

	@media (min-width: $mobile-break) {
		display: block;
	}
}

nav > ul {
	padding: $space / 2 0;

	& + ul {
		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}
}

.category,
.category:hover {
	font-family: "Open Sans", sans-serif;
	color: #666;
	text-decoration: none;
	font-size: 1.4rem;
	padding: $space / 2 0 $space / 2 $space;
	display: block;
	line-height: 1.5;
	font-weight: 1000;
}

.nav-item {
	display: block;
	font-family: "Open Sans", sans-serif;
	line-height: 1;
	margin: 0;

	nav:not(.full-navigation) & > ul {
		display: none;
	}

	nav:not(.full-navigation) &.current > ul {
		display: block;
	}
	.menu {
		color: #666;
		text-decoration: none;
		font-weight: 1000;
		font-size: 1.4rem;
		padding: $space / 2 0 $space / 2 $space;
		display: block;
		line-height: 1.5;
	}

	.list-top {
		color: #666;
		text-decoration: none;
		font-size: 1.4rem;
		padding: $space / 2 0 $space / 2 0;
		display: block;
		line-height: 1.5;
		font-weight: 600;
		label{
			margin-left: 10px;
			margin-right: 7px;
			padding: 10px;
		}
	}

	&.current > a,
	> a:active,
	> a:hover {
		background-color:rgb(104, 104, 104);
		color: white;
		font-weight: bold;
	}

	&.top-level > #list-wrapper {
		ul {
			.list {
				color: #666;
				text-decoration: none;
				font-size: 1.4rem;
				padding: $space / 2 0 $space / 2 $space / 2;
				display: block;
				margin-left: $space * 2;
			}
		}

		[id^=opener-] { display:none; }
		[id^=opener-]:checked ~ ul { 
			display: block;
			.current > .list,
			.list:hover,
			.list:active {
				font-weight: bold;
				background-color: rgb(104, 104, 104);
				color: white;
			}
			
			// list-style: none;
			// height: 100%;
			// transform-origin: top;
			// transition: transform .2s ease-out;
			// transform: scaleY(1);
		}
		[id^=opener-] ~ ul { 
			display: none;
			// height: 0;
			// transform: scaleY(0);
		}
	}
	
}

.settings-panel-example {
	@extend p;
	@include display-flex();
	@include flex-direction(column);

	.example {
		max-width: 300px;
		background-color: #fafafa;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		border-radius: 2px;
		overflow: hidden;
	}

	@media (min-width: 960px) {
		@include flex-direction(row);

		.details {
			@include flex(1);
			margin-right: 20px;
		}

		p + .highlight > pre {
			margin-bottom: 0;
		}

		.example {
			@include flex(0 0 300px);
			max-width: 100%;
		}
	}
}

.highlight {
	margin-left: 0;
	margin-right: 0;
}

h3 + .warning {
	margin-top: 1.75em;
}


h4 code {
	background: $nav-background-color;
	color: $content-color;
	background-color: transparent;
	font-weight: 700;
	padding: 0;
	font-size: 1.1em;
	line-height: 1;
}

h4 svg {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
	fill: #2E2E2E;
	height: 23px;
}

.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: $brand-colour;
	padding-left: 5px;
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}


#search-input {
	-webkit-appearance: none;
	display: block;
	margin: 0;
	padding: 10px 20px 10px 15px;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-left: 5px solid transparent;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.8;

	&:focus {
		outline: none;
		border-left-color: $brand-colour;
	}
}

.badge {
	font-family: "Open Sans", sans-serif;
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2px;
	background: #eee;
	font-weight: bold;

	&.major {
		background: $brand-colour;
		color: #fff;
	}
}

blockquote {
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -15px;
	margin-right: -10px;
	background-color: $brand-colour-light;
	border-color: $brand-colour;
	overflow: auto;

	p:last-child {
		margin-bottom: 0;
        white-space: nowrap;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.editor-link {
	display: none;
	margin-top: 0;

	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

/* Footer */

#footer {
	text-align: center;
	background-color: rgb(227, 227, 227);
	padding: 2.5em 0 2.5em 0;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
	font-size: 0.8em;

	.social{
		padding:0 0 5px 0;
		margin-bottom: 0;
		li{
			display: inline;
			margin-left: 10px;
			a{
				text-decoration: none;
				font-size: 25px;
				color: rgb(155, 155, 155);
			}
		}
	}


	.copyright {
		cursor: default;
		padding: 0;
		margin: 0;
		li {
			color: rgb(155, 155, 155);
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px rgba(128, 128, 128, 0.35);
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;

			&:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}
		}
	}
}