table {
	width: 100%;
	margin-bottom: 1.75em;
	overflow: auto;
    display: inline-block;
}

th {
	border-bottom: 2px solid gray;
	padding-bottom: 4px;
    white-space: nowrap;
	padding: 8px;
    font-size: 1.5rem;
}

tr:nth-child(even) {
	background: #e0e0e0;
    white-space: nowrap;
}

td {
    font-size: 1.5rem;
	padding: 8px;
    white-space: nowrap;
	width: 200px;
}
